In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400         0           1
1   18  33.770         1   1725.55230         1           0
2   28  33.000         3   4449.46200         1           0
3   33  22.705         0  21984.47061         1           0
4   32  28.880         0   3866.85520         1           0

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age','bmi','children','sex_male','smoker_yes']]
dependent=dataset[['charges']]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.3,random_state=0)

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR

In [23]:
param_grid = {
    'C': [0.1, 1, 10, 100],               # Regularization parameter
    'gamma': ['scale', 'auto'],       # Kernel coefficient
    'kernel': ['linear','rbf', 'poly', 'sigmoid'], # Kernel type
   
}
grid = GridSearchCV(
    SVR(),
    param_grid,
     refit=True,
    verbose=3,
    n_jobs=-1         
)

In [ ]:
grid.fit(x_train,y_train)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

In [ ]:
# Access the number of support vectors
num_support_vectors = grid.n_support_
print(num_support_vectors)
#regressor.support_

In [ ]:
y_pred=grid.predict(x_test)

In [ ]:
from sklearn.inspection import permutation_importance
# Compute permutation feature importance
perm_importance = permutation_importance(regressor, x_train, y_train)

# Display the feature importances
print(perm_importance.importances_mean)

In [ ]:
bias=grid.intercept_
bias

In [ ]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score